:root {
  --primary-color: #b3abff;
  --secondary-color: #e4a79d;
  --main-font: "Manrope", sans-serif;
  --main-font-size: 16px;
  --main-line-height: 1.3;
  --main-font-color: #000;
  --link-color: blue;
}
